<h1>Edit user</h1>
<%= form_for @user do |f| %>
<p>
    <%= f.label :email %><br />
    <%= f.text_field :email %><br />
</p>
<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
</p>
<p>
    <%= f.label :surname %><br />
    <%= f.text_field :surname %><br />
</p>

<p>

     <%= f.radio_button(:role, "user") %>
    <%= f.label(:role_user, "User") %>
     <%= f.radio_button(:role, "admin") %>
     <%= f.label(:role_admin, "Admin") %>
     <%= f.radio_button(:role, "researcher") %>
     <%= f.label(:role_researcher, "Researcher") %>
 
 
</p>
<p>
    <%= f.submit "Edit the user" %><br />
    
</p>
<% end %>