<!--<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>-->

<% trip = Trip.find(@tripId) %>
<% date = trip.events[0].intermediatepoints[0].time %>
<h1>Trip on <%= date.strftime('%d/%m/%Y') %></h1>
</br>

<div class="container">
  
  <div class="row">
    
    <div class="col-md-9">
      <div style='width: 800px;'>
        <div id="map" style='width: 800px; height: 400px;'></div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Legend</h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Meaning</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= image_tag("transfer_zone.png", :class => "transferzone") %></td>
                <td>Transfer Zone</td>
              </tr>
              <tr>
                <td><%= image_tag("intpoint.png", :class => "intpoint") %></td>
                <td>Intermediate Point</td>
              </tr>
              <tr>
                <td><%= image_tag("walking.png") %></td>
                <td>Walking</td>
              </tr>
              <tr>
                <td><%= image_tag("car.png") %></td>
                <td>Car</td>
              </tr>
              <tr>
                <td><%= image_tag("tram.png") %></td>
                <td>Tram</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>

  

</div>


</br>
</br>
<div class="col-xs-12 buttons">
<%= link_to 'Verify Trip', view_tripdata_path(tripId: @tripId), method: :post, :class => 'btn btn-primary btn-left-align' %>
<%= link_to 'Back', view_tripdata_path, :class => 'btn btn-primary' %>
</div>
<script type = 'text/javascript'>

  eventsData = <%=raw @hash_eventsData.to_json %>;

  //console.log(eventsData);

  var map = null;
  
  // var polylinePath = null;
  var polylinePath_for_drag = null;
  
  // var polylinePath = new google.maps.Polyline({
  //     path: [],
  //     geodesic: true,
  //     strokeColor: '#000000',
  //     strokeOpacity: 1.0,
  //     strokeWeight: 5
  //   });
    
  var bounds = new google.maps.LatLngBounds();

  google.maps.event.addDomListener(window, "load", initMap);
  
  // initMap();
  // drawTripIntermediatePoints(eventsData);
  // drawTripPolyline(eventsData);
  // drawTripTransferZone(eventsData);
  // map.fitBounds(bounds);

</script>

<style>
  .map-class {
    padding-right: 0px;
    margin-right: 0px;
  }

  .buttons {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .legend {
    text-align: left;
    vertical-align: middle;
  }
  
  .intpoint {
    width: 30px;
  }
  
  .legend-icon {
    padding-right: 8px;
  }
  
  .transferzone {
    margin-left: -5.5px;
  }
</style>
