<h1>All Trips</h1>
</br>
<div class="container">
<table class="table table-striped table-hover" style="text-align:center">
	<thead><tr><th>Trip ID</th>
	<th>Trip Average Speed</th>
<th>Trip Duration</th>
<th>Trip Distance</th>
<th>Trip Verified</th>
<th>Map</th></tr></thead>
	<% @trips.each do |trip| %>
		<tr><td><%= trip.id %></td>
		<td><%= trip.avgSpeed %></td>
		<td><%= trip.duration %></td>
		<td><%= trip.distance %></td>
		<td><%= trip.verified %></td>
		<td><%= link_to('View Map', view_gmap_path(trip_id: trip.id)) %></td></tr>
	<% end %>
</table>
</div>