<h1>All Trips</h1>
</br>
<div class="container">
<table class="table table-striped table-hover" style="text-align:center">
	<thead><tr><th>No.</th>
	<th>Date</th>
	<th>Average Speed</th>
<th>Duration</th>
<th>Distance</th>
<th>Verified</th>
<th>Map</th></tr></thead>
	<% count = 0 %>
	<% @trips.each do |trip| %>
		<% count += 1 %>
		<tr><td><%= count %></td>
		<td><%= trip.events[0].intermediatepoints[0].time.strftime("%d/%m/%Y") %></td>
		<td><%= trip.avgSpeed %></td>
		<td><%= trip.duration %></td>
		<td><%= trip.distance %></td>
		<td><%= trip.verified %></td>
		<td><%= link_to('View Map', view_gmap_path(trip_id: trip.id)) %></td></tr>
	<% end %>
</table>
</div>

