<% if @tripresultcount == 0 %>
    <% controller.redirect_to report_path, alert: 'No trips during this period.' %>
<% end %>

<h1>Trip Report from <%= @fromtime1.strftime("%d/%m/%Y %H:%M") %> and <%= @totime1.strftime("%d/%m/%Y %H:%M") %></h1>
<br />
<h3>All Trips Data</h3>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-md-offset-3">
<table class="table table-striped table-hover" style="text-align:center">
<tr><td>Number of trips: </td><td><%= @tripresultcount %></td></tr>
<tr><td>Total distance of trips: </td><td><%= @tripresultsumdistance.round(2) %> km</td></tr>
<tr><td>Total duration of trips: </td><td><%= @tripresultsumduration %> mins</td></tr>
<tr><td>Average distance of trips: </td><td><%= @avetripresultdistance %> km</td></tr>
<tr><td>Average duration of trips: </td><td><%= @avetripresultduration %> mins</td></tr>
<tr><td>Average speed of trips: </td><td><%= @avetripresultavgSpeed %> km/h</td></tr>
</table></div>
<div class="col-xs-12"><h3>Transportation Data</h3>
<h3>Walking</h3>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-md-offset-3">
<table class="table table-striped table-hover" style="text-align:center">
<tr><td>Number of walking events: </td><td><%= @walking_events %></td></tr>
<tr><td>Total walking distance: </td><td><%= @walkingtotaldistance %> km</td></tr>
<tr><td>Total walking duration: </td><td><%= @walkingtotalduration %> mins</td></tr>
<tr><td>Average walking distance: </td><td><%= @walkingavgdistance %> km</td></tr>
<tr><td>Average walking duration: </td><td><%= @walkingavgduration %> mins</td></tr>
<tr><td>Average walking speed: </td><td><%= @walkingavgspeed %> km/h</td></tr>
</table></div>
<div class="col-xs-12"><h3>Tram</h3>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-md-offset-3">
<table class="table table-striped table-hover" style="text-align:center">
<tr><td>Number of tram events: </td><td><%= @tram_events %></td></tr>
<tr><td>Total tram distance: </td><td><%= @tramtotaldistance %> km</td></tr>
<tr><td>Total tram duration: </td><td><%= @tramtotalduration %> mins</td></tr>
<tr><td>Average tram distance: </td><td><%= @tramavgdistance %> km</td></tr>
<tr><td>Average tram duration: </td><td><%= @tramavgduration %> mins</td></tr>
<tr><td>Average tram speed: </td><td><%= @tramavgspeed %> km/h</td></tr>
</table></div>
<div class="col-xs-12"><h3>Car</h3>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-md-offset-3">
<table class="table table-striped table-hover" style="text-align:center">
<tr><td>Number of car events: </td><td><%= @car_events %></td></tr>
<tr><td>Total car distance: </td><td><%= @cartotaldistance %> km</td></tr>
<tr><td>Total car duration: </td><td><%= @cartotalduration %> mins</td></tr>
<tr><td>Average car distance: </td><td><%= @caravgdistance %> km</td></tr>
<tr><td>Average car duration: </td><td><%= @caravgduration %> mins</td></tr>
<tr><td>Average car speed: </td><td><%= @caravgspeed %> km/h</td></tr></tr>
</table></div>