<h1>Report</h1>
<h3>Report about trips:</h3>
<h4><b>Total data:</b></h4>
<p>Number of trips: <%= @tripresultcount %></p>
<p>Total distance of trips: <%= @tripresultsumdistance %> km</p>
<p>Total duration of trips: <%= @tripresultsumduration %> h</p>
<p>Total average speed of trips: <%= @tripresultsumavgSpeed %> km/h</p>
<h4><b>Average data:</b></h4>
<p>Average distance of trips: <%= @avetripresultdistance %> km</p>
<p>Average duration of trips: <%= @avetripresultduration %> h</p>
<p>Average speed of trips: <%= @avetripresultavgSpeed %> km/h</p>

<h3>Report about transportations:</h3>
<h3>Walking</h3>
<h4><b>Total data:</b></h4>
<p>Number of walking segments: <%= @walking %></p>
<p>Total distance of walking: <%= @walkingtotaldistance %> km</p>
<p>Total duration of walking: <%= @walkingtotalduration %> h</p>
<p>Total average speed of walking: <%= @walkingtotalespeed %> km/h</p>
<h4><b>Average data:</b></h4>
<p>Average distance of walking: <%= @walkingavgdistance %> km</p>
<p>Average duration of walking: <%= @walkingavgduration %> h</p>
<p>Average speed of walking: <%= @walkingavgspeed %> km/h</p>

<h3>Tram</h3>
<h4><b>Total data:</b></h4>
<p>Number of tram segments: <%= @tram %></p>
<p>Total distance of tram: <%= @tramtotaldistance %> km</p>
<p>Total duration of tram: <%= @tramtotalduration %> h</p>
<p>Total average speed of tram: <%= @tramtotalespeed %> km/h</p>
<h4><b>Average data:</b></h4>
<p>Average distance of tram: <%= @tramavgdistance %> km</p>
<p>Average duration of tram: <%= @tramavgduration %> h</p>
<p>Average speed of tram: <%= @tramavgspeed %> km/h</p>

<h3>Car</h3>
<h4><b>Total data:</b></h4>
<p>Number of car segments: <%= @car %></p>
<p>Total distance of car: <%= @cartotaldistance %> km</p>
<p>Total duration of car: <%= @cartotalduration %> h</p>
<p>Total average speed of car: <%= @cartotalespeed %> km/h</p>
<h4><b>Average data:</b></h4>
<p>Average distance of car: <%= @caravgdistance %> km</p>
<p>Average duration of car: <%= @caravgduration %> h</p>
<p>Average speed of car: <%= @caravgspeed %> km/h</p>
