<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
  	<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
    		</button>
    		<%= link_to 'GPS Track', root_path, {:class=>"navbar-brand title-black"} %></div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        
        <ul class="nav navbar-nav">
            <% if current_user %>
            <li><%= link_to 'Trips', view_tripdata_path %></li>    
            <% end %>
        </ul>
        
		  <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to 'Profile', profile_path %></li>
          <li><%= link_to 'Edit Registration', edit_user_registration_path %></li><li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li><li><%= link_to 'Register', new_user_registration_path %></li>
        <% end %>
      </ul>
      </div>
	</div>
</nav>
